*{
    box-sizing: border-box;
}

body {
    background-color: #000000;
    background-image: url("../images/what-the-hex.png");
    height: 90%;
}

header{
    background-color: #ffffff;
    overflow: hidden;
    margin: 0;
    padding: 0;
    height:78px;
    border-bottom: 1px solid #cccccc;
    margin-bottom:20px;
    min-width: 960px;
    position: fixed;
    top:0;
    left:0;
    right:0;
}

nav{
    display: inline-block;
    float: right;
    height:78px;
}
    
ul {
    display:block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display:inline-block;
    float: left;
    text-align: center;
    padding: 30px 0px 0 20px;
}

.divider{
    color: #e0e0e0;
}

li a {
    float: left;
    color: #777777;
    text-align: center;
    text-decoration: none;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}


header a:hover {
    background-color: #4aaaa5;
    color: #ffffff;
  }
  
header h1 {
    font-family: Georgia, Times, 'Times New Roman', serif;
    background-color: #4aaaa5;
    float: left;
    color: #ffffff;
    padding: 15px 20px 25px 20px;
    font-size: 1.5em;
    margin:0;
    margin-top: 20px;
    
}
    
header div{
    width: 960px;
    margin: auto;
    overflow:auto;
}
    
section {
        width: 960px;
        background-color: #ffffff;
        margin: auto;
        margin-top: 100px;
        margin-bottom: 100px;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        padding: 5px;
        border: 1px solid #dddddd;
        overflow:auto;
        /* clear:both; */
}

section h1 {
        font-family: Georgia, Times, 'Times New Roman', serif;
        color: #4aaaa5;
        margin: 20px;
        font-size: 1.5em;
}

section img{
        float: left;
        margin: 20px;
        width: 25%;
}

p{
        color: #777777;
        line-height: 1.8;
}

article{
    border-top: 1px solid #cccccc;
    margin: 20px;
}

footer {
    position: fixed;
    background-color:#666666;
    bottom: 0;
    right: 0;
    left:0;
    text-align: center;
    padding: 30px 0 10px 0;
    color: #ffffff;
    border-top: 8px solid #4aaaa5;
    /* clear:both; */
       
}
  
